button {
    width: 150px;
    height: 30px;
    background-color: green;
    color: pink;
    border-radius: 100px;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: orange;
    padding: 60px;
    font-size: large;
    font-family: sans-serif;
    vertical-align: middle;
}

header div a{
    font-size: large;
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: grid;
}

h1, h2{
    text-align: center;
}

.center{
    vertical-align: middle;
    text-align: center;
}

img {
    width: 1400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}