<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../images/Orange_segel.ico" type="image/x-icon">
    <title>Din bild</title>
</head>
<body>
    <header>
        <h1><a href="">Piratpropaganda</a></h1>
        <div>
            <a href="https://ungpirat.se">Ung Pirat</a>
            <a href="https://piratpartiet.se">Piratpartiet</a>
            <a href="https://pirateweb.net">Pirateweb</a>
        </div>
        <hr>
    </header>
    <img src="/static/{{ picture }}">
</body>
</html>